<style>
  body{
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: #222;
    color: #fff;
    text-rendering: optimizelegibility;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    zoom: 1;
    -webkit-font-smoothing: antialiased;
  }

  h1 {
    background-image: url('/logo.png');
    width: 500px;
    height: 125px;
    text-indent: -119988px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 50px 0;
  }

  a {
    color: inherit;
    font-weight: 500;
  }

  ol.winners{
    display: block;
    padding: 0;
    width: 210px;
    margin: auto;
  }

  ol.winners li{
    float: left;
    margin: 0;
    padding: 0;
  }

  ol.winners li{
    width: 50px;
    margin: 0 10px;
  }

  ol.winners li img{
    width: 100%;
  }
</style>
<h1>CodeBrawl</h1>

<%= yield %>
